/*------------------------------------------------------------------
    Typography
------------------------------------------------------------------*/

@font-face {
    font-family: 'Firs';
    src: url('../assets/font/firs-regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Firs';
    src: url('../assets/font/firs-demibold.woff2');
    font-weight: bold;
}

/*------------------------------------------------------------------
    Reset
------------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    font-size: 1em;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
}
body {
    overflow-x: hidden;
    background-color: var(--dark);
}
html, body, div {
    box-sizing: border-box;
}

/*------------------------------------------------------------------
    Blocs
------------------------------------------------------------------*/
.page   {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10vh;
    align-items: flex-start;
    justify-content: center;

}
/*------------------------------------------------------------------
    Upper Content
*/

.upper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 2rem;;

}
.upper-content h1 {
    font-size: 3rem;
    text-align: center;
}
.upper-content h2 {
    font-size: 1.6rem;
    line-height: 110%;
    font-weight: 400;
    margin: 0.2em 0;
    text-align: center;
}
.upper-content h3{
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 400;
    margin: 0.2em 0;
    text-align: center;
}

/*------------------------------------------------------------------
    Form
*/
form {
    margin-top: 2rem;
    width: 100%;
}
form label {
    display: block;
    color: #a2a2a2;
    font-size: 0.9rem;
}
form .field {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
}
form button {
    background-color: #2e384c;
    color: white;
    padding: 16px 24px;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
}
form  input {
    padding: 16px 24px;
    border: 0;
    background-color: #f6f6f6;
    width: 100%;
    color: #2e384c;
    font-size: 1.4rem;
    border-radius: 0.8rem 0 0 0.8rem;
}
form input:focus, form input:active,  form input:focus-visible {
    border:0;
    box-shadow: 0 0 1rem #e2e2e2 inset;
}

input::placeholder {
    color: #a2a2a2;
    font-size: 1.4rem;
  }


/*------------------------------------------------------------------
    Partners
*/

.partners {
    position: fixed;
    bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.partners .title {
    font-size: 1.4rem;
    margin: 2rem;
    margin-right: 3rem;
}
.partners .logos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
}
.partners a {
    filter: grayscale(100%);
}
.partners a:hover {
    filter: grayscale(0%);
}

/*------------------------------------------------------------------
    Barcode
*/
.download-buttons {
    text-align: center;
    margin: 2rem;
}
.download-buttons a {
    padding: 0.5em;
}
.back-link {
    width: 100%;
    text-align: center;
}
.back-link a {
    color: #2e5ebf;
    text-decoration:  none;
    padding: 0.4rem 0;
    border-bottom: 1px solid #2e5ebf ;
}
.back-link img {
    vertical-align: text-bottom;
}
.barcode {
    margin: 1rem ;
}